<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self' https://fonts.googleapis.com; img-src 'self' https://www.hackthebox.eu/; font-src 'self' https://fonts.gstatic.com; connect-src 'self'; media-src 'self'; object-src 'self'; child-src 'self' https://editor.p5js.org/Plotkine/present/kmFef9ExW https://editor.p5js.org/Plotkine/present/wt0UfN_ce https://editor.p5js.org/Plotkine/present/NYcHr4h5V https://editor.p5js.org/Plotkine/present/I-eeyxqFo https://editor.p5js.org/Plotkine/present/_6t0LDFnp https://editor.p5js.org/Plotkine/present/I0OtMYTba; form-action 'none'; base-uri 'self'" />
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

  {%- include head.html -%}

  <body>
    <div class="container">

      {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

    </div>
  </body>
</html>
